/*reset*/
*{
	padding:0;
	margin: 0;
	font-family: "Work Sans", sans-serif;
}
a{
	text-decoration: none;
	color: #606060;
	transition: color, .2s;
}
a:hover{
	color:#000;
}
.item{
	list-style-type: none;
	padding-left: 2em;
	font-size: 2.5em;
	width: 100%;
}
.work-heading{
	margin-top: 20px;
	font-size: 3em;
}
.working-on{
	position: absolute;
	width: 80%;
	/*background-color: pink;*/
	bottom: 5vh;
}

/*pretty underline by /u/spryes (permalink to post: https://www.reddit.com/r/web_design/comments/56ry1u/styling_underlines_on_the_web/d8lw8vr/)*/
.pretty-underline {
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px #fff;
    background-image: linear-gradient(90deg, currentColor 100%, transparent 100%);
    background-position: 0 1.09em;
    background-repeat: repeat-x;
    background-size: 2px 5px;

    &::selection {
        text-shadow: none;
     }
}
/* header items */
.boombox{
	height: 100vh;
	width: 100%;
	/*background-color: #AAA;*/
}
/*.boombox >*{width:100%;}*/

.column-flex{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.header-wrap{
	/*border: 1px solid black;*/
	flex-grow: 2;
	margin: 50px;
}
.header, .header *, .work-heading{
	font-family: 'Trocchi', serif;
	color: #202020;
	/*flex-grow: 1;*/
	/*border: 1px solid black;*/
}
.header{
	width: 100%;
	font-size:6em;
}

.header-contact{
	flex-grow: 1;
	text-align: right;
	align-self: flex-end;
	margin-right: 50px;
	/*border: 1px solid black;*/
}

.subheading-serif,
.subheading{
	font-size: 2em;
}
.subheading{
	font-family: "Work Sans", sans-serif;
}
.subheading-serif{
	font-family: "Arbutus Slab", serif;
}
.center-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-flex *{
	text-align: center;
}

/* items */
.item-wrap{
	height: 100vh;
}
/*.item-wrap div{
	width: 50%;
}*/

.item-desc{
	background-color: #BBB;
}
.item-img{
	background-color: #111;
}
.item-img *{
	color: #FFF;
}