@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/**************************************
Resets
 *************************************/
*{
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
/**************************************
general STYLING
 *************************************/
li{
   list-style-type: none;
}
a{
   text-decoration: none;
   color: black;
}
/**************************************
NAV STYLING
 *************************************/
nav{
   height: 160px;
}
.wrap{
   height: 100%;
   width: 50%;
   min-width: 700px; 
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#ham{
   display: none;
   position: relative;
   width: 40px;
   margin-right: 30px;
}
#ham:hover{
   cursor: pointer;
}
#ham path{
   transition: .2s all;
   stroke: black;
   stroke-width: 3px;
   fill: none;
}
.navigation{
   display: block;
   height: 80px;
}
.navigation p {
   font-weight: bold;
   margin: 0;
   padding: 0 20px;
   line-height: 80px;
   display: inline-block;
   transition: .2s all;
}
.navigation p:hover{
   cursor: pointer;
}

@media screen and (max-width: 700px){
   .wrap{
      width: 100%;
      min-width: 0px;
   }
   .navigation{
      margin-right: 20px;
      display: none;
   }
   .navigation.responsive{
      display: block;
      position: absolute;
      top: 160px;
      z-index: 3;
      width: 100%;
   }
   .navigation.responsive p{
      padding: 0;
      width: 100%;
      background-color: rgba(30, 30, 30, 0.8);
      color: white;
   }
   .navigation.responsive p:hover{
      color: rgba(30, 30, 30, 1);
      background-color: #eee;
   }
   .ham-active #top-ham{
   transition: .2s all;
      transform-origin: 16px 40px;
      transform: rotate(45deg);
   }
   .ham-active #mid-ham{
   transition: .2s all;
      opacity: 0;
   }
   .ham-active #low-ham{
   transition: .2s all;
      transform-origin: 22px 64px;
      transform: rotate(-45deg);
   }
   #logo{
      margin-left: 20px;
   }
   #ham{
      display: block;
   }
}

/**************************************
SVG LOGO styling 
 *************************************/
#logo{
   background-color: white;
   width: 80px;
   transition: .2s all;
}
#logo *{
   fill: none;
   stroke: black;
   stroke-miterlimit: 10;
   stroke-width: 17px;
}
#logo polyline{
   stroke-width: 18px;
}
#logo:hover{
   cursor: pointer;
   background-color: pink;
}
#logo *{
   transition: .4s all;
   stroke: black;
}
#logo:hover *{
   transition: .4s all;
   stroke: white;
}
#logo line{
   transition: .4s all;
   stroke-dasharray: 1000;
   stroke-dashoffset: 59;
}
#logo:hover line{
   stroke: white;
   transition: .4s all;
   stroke-dasharray: 80;
   stroke-dashoffset: 59;
}
/**************************************
ABOUT styling
 *************************************/
.about{
   width: 100%;
   background-color: #eee;
   height: 700px;
   position: relative;
}
.about-me-desc{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.about-me-desc *{
   text-align: center;
}
.subtitle{
   font-size: 0.8em;
   transition: .2s all;
   color: rgba(200, 200, 200, 1);
}
.subtitle:hover{
   transition: .2s all;
   color: rgba(50, 50, 50, 1);
}
.main-text{
   font-size: 2em;
}
#scrolldown{
   width: 150px;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#scrolldown *{
   stroke: rgb(200, 200, 200);
   fill: none;
   stroke-width: 1px;
}
@media screen and (max-width: 1000px){
   .about-me-desc{
      top: 40%;
      width: 100%;
   }
   #scrolldown{
      top: 70%;
   }
}
/**************************************
Skills styling
 *************************************/
.skills{
   height: 700px;
   position: relative;
   background-color: white;
   margin-bottom: 500px;
}
.skill-comp{
   width: 900px;
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
}
.skill-wrap{
   background-color: #eee;
   width: 100%;
   height: 400px;
   position: relative;
}
.skill-head{
   margin: 30px auto;
   text-align: center;
}
.skills-desc{
   width: 650px;
   margin: 40px auto;
   text-align: center;
}
.skill-tabs{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}
.skill-name{
   width: 300px;
   display: inline-block;
   text-align: center;
   height: 50px;
   line-height: 50px;
   color: black;
   background-color: white;
   transition: .2s all;
}
.skill-name:hover{
   cursor: pointer;
   color: black;
   transition: .2s all;
   background-color: #ddd;
}
.skill-name.active-skill{
   background-color: pink;
   color: white;
}
.skill-desc{
   width: 80%;
   margin-top: 20px;
   height: 70%;
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
}
.desc-list{
   margin: 30px auto;
}
.desc-list p{
   margin-top: 10px;
}

@media screen and (max-width: 1000px){
   .skill-comp{
      width: 100%;
   }
   .skill-name{
      width: 33.333%;
   }
   .skill-desc h2,p{
      text-align: center
   }
   .skill-wrap{
      box-shadow: none;
      width: 100%;
   }
   .skill-comp{
      background: white;
      width: 100%;
   }
   .skills-desc{
      width: 80%;
      text-align: justify;
      text-align-last: center;
      line-height: 1.6em;
   }
   .desc-list{
      margin-top: 10px;
      line-height: 1.6em;
   }
   .desc-list p{
      margin-top: 10px;
   }
}
footer{
   position: fixed;
   z-index: -1;
   left: 0;
   bottom: 0;
   padding: 0;
   width: 100%;
   height: 500px;
   background-color: pink;
}
.foot-nav{
   position: absolute;
   top: 50%; left: 30%;
   transform: translate(-50%, -50%);
}
.foot-nav *{
   margin: 10px auto;
   font-weight: bold;
   font-size: 1.4em;
   height: 25%;
   color: rgba(240, 240, 240, 0.4);
}
.foot-nav a:hover{
   color: rgba(255, 255, 255, 0.8);
   text-decoration: line-through;
}
      
@media screen and (max-width: 900px){
   .foot-nav *{
      color: rgba(255, 255, 255, 0.8);
   }
}
