<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='https://afeld.github.io/emoji-css/emoji.css')
        link(rel='icon', href='img/logo.png')
        link(rel='stylesheet', href='styles/main.css')
        link(rel='stylesheet', href='styles/other.css')
        link(rel='stylesheet', href='styles/hover.css')
        title Edward Liao | DECO3850
    body#top
        .background-full
            a#contact
            header.font_color
                span.font_color
                    a.hvr-underline-from-left.scroll.font_color(href='#top') Edward Liao | Rogue Learning
                ul.navi-fade.scroll
                    li
                        a.hvr-underline-from-left.scroll(href='#product') Product
                    li
                        a.hvr-underline-from-left.scroll(href='#project') Project &amp; Process
                    li
                        a.hvr-underline-from-left.scroll(href='#research') Research
                    li
                        a.hvr-underline-from-left.scroll(href="#about") Me
                    li
                        a.hvr-underline-from-left.scroll(href='#contact') Contact

            .main
                h1.font_color(style={visibility:'visible'}) Eduardo is a
                    br
                    span#changer.pretty-underline
                        | web designer
                .product_link.font_color(style={color:"rgb(255,255,255)"})
                    a.scroll(href="#product", style={color:'rgb(255,255,255)'}) Product
                .project_process.font_color(style={color:"rgb(255,255,255)"})
                    a.scroll(href="#project", style={color:'rgb(255,255,255)'}) Project &amp; Process
                .research.font_color(style={color:"rgb(255,255,255)"})
                    a.scroll(href="#research", style={color:'rgb(255,255,255)'}) Research
                .contact-link.font_color(style={color:"rgb(255,255,255)"})
                    a.scroll(href="#contact", style={color:'rgb(255,255,255)'}) Contact
            #product.detail.sections
                i.em.em-telescope
                .text-wrap
                    h2 Spandx
                    p 
                        include texts/product.md
            
            #project.detail.sections
                i.em.em-star2
                .text-wrap
                    h2 Project and Process
                    p
                        include texts/project.md
            #research.detail.sections
                i.em.em-rocket
                .text-wrap
                    h2 Background research
                    p
                        include texts/research.html
            #about.detail.about
                p.me#about-text Heya I'm Edward / Eddie / Eduardo. Developer / Designer / Researcher for Rogue Learning
        br
        br
        .contact
            h2 
                a(href="mailto:liao.edward@gmail.com?subject=message from DECO3850") &nbsp;mail&nbsp;
                |  or 
                a(href="https://twitter.com/eduardlio", target="_blank") &nbsp;twitter&nbsp;
                |  or 
                a(href="https://github.com/eduardlio", target="_blank") &nbsp;github&nbsp;
                |  or 
                a(href="https://instagram.com/eduardlio", target="_blank") &nbsp;instagram&nbsp;
    
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="js/colorChange.js")
        script(src="js/function.js")
        script(src="js/analytics.js")