.output-items
    h3 Spandx Proposal
    p.output-desc The proposal was written as a team and consisted of contributions (both graphical and textual) by each team member. The purpose of this document was to introduce the concept of spandx with the help of research, inspiration and consideration of constraints.
    br
    a.link-to.hvr-underline-from-left(href="resources/proposal.pdf" target="_blank") Proposal
.output-items
    h3 Interaction Plan
    p.output-desc This interaction plan was hastily done by me to express a possible interaction with spandx for our second presentation. 
    
    a.link-to.hvr-underline-from-left(href="resources/interPlan.pdf" target="_blank") Interaction Plan

.output-items
    h3 Video
    p.output-desc Mitch was responsible for all aspects of the Rogue Learning video. Through long hours, he was able to storyboard, film and edit both versions of the video
    a.link-to.hvr-underline-from-left(href="resources/storyboard.pdf" target="_blank") Link to storyboard
    br
    br
    iframe(width="560" height="315" src="https://www.youtube.com/embed/jKRST5Pazqw" frameborder="0" allowfullscreen)

.output-items
    h3 Posters
    p.output-desc Andy, our designer whipped up some awesome diagrams of our imagined iterations. Copy was written by myself. Our amazing developer, Gabby, was able to design a few icons to be posted around the exhibition.

    img(src="img/iterations.png", alt="iterations 1")
    br
    img(src="img/iterations2.png", alt="iterations 2")
    br
    br
    img(src="http://i.imgur.com/f6peOi9.png", alt="one")
    br
    img(src="http://i.imgur.com/mYg7tXz.png", alt="one")

.output-items
    h3 Appraisals
    p.output-desc Appraisals were a way to express long-form feedback given to each team in a studio session. This feedback was based on the status of the prototype at the time along with advice on where to progress from there position as well as critiques for their designs. 
    a.link-to.hvr-underline-from-left(href="resources/appraisals.pdf" target="_blank") Link to Appraisals

.output-items
    h3 Blog Posts
    p.output-desc Throughout the course, students were asked to write weekly blog posts journalling their experiences. Check it out if you're keen on reading even more of my writing.
    a.link-to.hvr-underline-from-left(href="resources/fullblog.pdf" target="_blank") Link to all blog posts

