a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}
blockquote{
  background-color: #eee;
  padding: 1.2rem 1.5rem;
  border-radius: 5px;
  line-height: 1.6rem;
}
blockquote>*::before{
  content: '💡 ';
}