.content-wrap{
   width: 50%;
   margin: 0 auto;
   background-color: white;
   margin-bottom: 500px;
}
@media screen and (max-width: 800px){
   .content-wrap{
      margin: 0 auto;
      width: 100%;
      margin-bottom: 500px;
      padding: 50px 0;
   }
   .para{
      width: 50%;
      margin: 0 auto;
      padding: 10px 0;
   }
}
