/**************************************
ABOUT styling
 *************************************/
.about{
   width: 100%;
   background-color: #eee;
   height: 700px;
   position: relative;
}
.about-me-desc{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.about-me-desc *{
   text-align: center;
}
.subtitle{
   font-size: 0.8em;
   transition: .2s all;
   color: rgba(200, 200, 200, 1);
}
.subtitle:hover{
   transition: .2s all;
   color: rgba(50, 50, 50, 1);
}
.main-text{
   font-size: 2em;
}
#scrolldown{
   width: 150px;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#scrolldown *{
   stroke: rgb(200, 200, 200);
   fill: none;
   stroke-width: 1px;
}
@media screen and (max-width: 1000px){
   .about-me-desc{
      top: 40%;
      width: 100%;
   }
   #scrolldown{
      top: 70%;
   }
}
/**************************************
Skills styling
 *************************************/
.skills{
   height: 700px;
   position: relative;
   background-color: white;
   margin-bottom: 500px;
}
.skill-comp{
   width: 900px;
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
}
.skill-wrap{
   background-color: #eee;
   width: 100%;
   height: 400px;
   position: relative;
}
.skill-head{
   margin: 30px auto;
   margin-bottom: 0;
   text-align: center;
}
.skills-desc{
   width: 650px;
   margin: 40px auto;
   margin-top: 0;
   text-align: center;
}
.skill-tabs{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}
.skill-name{
   width: 300px;
   display: inline-block;
   text-align: center;
   height: 50px;
   line-height: 50px;
   color: black;
   background-color: white;
   transition: .2s all;
}
.skill-name:hover{
   cursor: pointer;
   color: black;
   transition: .2s all;
   background-color: #ddd;
}
.skill-name.active-skill{
   background-color: pink;
   color: white;
}
.skill-desc{
   width: 80%;
   margin-top: 20px;
   height: 70%;
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
}
.desc-list{
   margin: 30px auto;
}
.desc-list p{
   margin-top: 10px;
}

@media screen and (max-width: 1000px){
   .skills{
      height: 600px;
      }
   .skill-comp{
      width: 100%;
   }
   .skill-name{
      width: 25%;
      transition: .2s all;
   }
   .active-skill{
      width: 50%;
      transition: .2s all;
   }
   .skill-desc h2,p{
      text-align: center
   }
   .skill-wrap{
      box-shadow: none;
      width: 100%;
   }
   .skill-comp{
      background: white;
      width: 100%;
   }
   .skills-desc{
      width: 80%;
      text-align: justify;
      text-align-last: center;
      line-height: 1.6em;
   }
   .desc-list{
      margin-top: 10px;
      line-height: 1.6em;
   }
   .desc-list p{
      margin-top: 10px;
   }
}
