@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/**************************************
Resets
 *************************************/
*{
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
/**************************************
general STYLING
 *************************************/
li{
   list-style-type: none;
}
a{
   text-decoration: none;
   color: black;
   background-color: none;
   transition: .2s all;
}
a:hover{
   cursor: pointer;
   transition: .2s all;
}
/**************************************
NAV STYLING
 *************************************/
nav{
   height: 160px;
}
nav *{
   user-select: none;
}
.wrap{
   height: 100%;
   width: 50%;
   min-width: 700px; 
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#ham{
   display: none;
   position: relative;
   width: 40px;
   margin-right: 30px;
}
#ham:hover{
   cursor: pointer;
}
#ham path{
   transition: .2s all;
   stroke: black;
   stroke-width: 8px;
   stroke-linecap: round;
   fill: none;
}
.navigation{
   transition: .2s all;
   display: block;
   height: 80px;
}
.navigation a {
   text-decoration: none;
   font-weight: bold;
   margin: 0;
   padding: 0 20px;
   padding-bottom: 12px;
   border-bottom: 1px solid rgba(20, 20, 20, 0);
   line-height: 80px;
   display: inline-block;
   transition: .2s all;
}
.navigation a:hover{
   cursor: pointer;
   padding-bottom: 2px;
}
@media screen and (max-width: 700px){
   nav{
      height: 100px;
   }
   .wrap{
      width: 100%;
      min-width: 0px;
   }
   .navigation{
      margin-right: 20px;
      display: none;
   }
   .navigation.responsive{
      transition: .2s all;
      display: block;
      position: absolute;
      top: 100px;
      z-index: 9999;
      width: 100%;
   }
   .navigation.responsive a{
      text-align: center;
      transition: .2s all;
      padding: 0;
      width: 100%;
      background-color: rgba(30, 30, 30, 0.8);
      color: white;
   }
   .navigation.responsive a:hover{
      transition: .2s all;
      color: rgba(30, 30, 30, 1);
      background-color: #eee;
   }
   .ham-active #top-ham{
      transition: .2s all;
      transform-origin: 16px 40px;
      transform: rotate(45deg);
   }
   .ham-active #mid-ham{
      transition: .2s all;
      opacity: 0;
   }
   .ham-active #low-ham{
      transition: .2s all;
      transform-origin: 22px 64px;
      transform: rotate(-45deg);
   }
   #logo{
      margin-left: 20px;
   }
   #ham{
      display: block;
   }
}
/**************************************
SVG LOGO styling 
 *************************************/
#logo{
   background-color: white;
   width: 80px;
   transition: .2s all;
}
#logo *{
   fill: none;
   stroke: black;
   stroke-miterlimit: 10;
   stroke-width: 17px;
}
#logo polyline{
   stroke-width: 18px;
}
#logo:hover{
   cursor: pointer;
   background-color: pink;
}
#logo *{
   transition: .4s all;
   stroke: black;
}
#logo:hover *{
   transition: .4s all;
   stroke: white;
}
#logo line{
   transition: .4s all;
   stroke-dasharray: 1000;
   stroke-dashoffset: 59;
}
#logo:hover line{
   stroke: white;
   transition: .4s all;
   stroke-dasharray: 80;
   stroke-dashoffset: 59;
}

/**************************************
Footer styling
 *************************************/
footer{
   position: fixed;
   z-index: -1;
   left: 0;
   bottom: 0;
   padding: 0;
   width: 100%;
   height: 500px;
   background-color: pink;
}
.foot-nav{
   position: absolute;
   top: 50%; left: 30%;
   transform: translate(-50%, -50%);
}
.foot-nav *{
   margin: 10px auto;
   font-weight: bold;
   font-size: 1.4em;
   height: 25%;
   color: rgba(240, 240, 240, 0.4);
}
.foot-nav a:hover{
   color: rgba(255, 255, 255, 0.8);
   text-decoration: line-through;
}

@media screen and (max-width: 900px){
   .foot-nav *{
      color: rgba(255, 255, 255, 0.8);
   }
}
